@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@600&display=swap');
@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $text-color;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .8;
    }
    to {
        opacity: 1;
    }
}

@import 'blocks/sprite';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/btns';
@import 'blocks/about';
@import 'blocks/slider';
@import 'blocks/sets';
@import 'blocks/card';
@import 'blocks/ration';
@import 'blocks/feeding';
@import 'blocks/advantage';
@import 'blocks/love';
@import 'blocks/order';
@import 'blocks/media';