@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@600&display=swap');
@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}