.btn {
    height: 48px;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    transition: 0.5s all easy;
    &:hover {
        background: #166292;
        box-shadow: none;
    }
}