@media (max-width: 1440px) {
    .container {
        width: 1200px;
    }
    .about {
        &__img {
            width: 100%;
            height: auto;
        }
        &__consist {
            &-item {
                font-size: 16px;
                &:before {
                    width: 25px;
                    height: 25px;
                }
            }
            &-slide {
                margin: 0 60px;
            }
            &-list {
                width: 400px;
            }
        }
    }
    .sets {
        &__descr {
            grid-template: 66px/repeat(1, 588px);
            column-gap: unset;
            row-gap: 25px;
        }
        &__wrapp {
            grid-template: minmax(552px, auto) / 665px 282px;
        }
    }
    .ration {
        &__descr {
            grid-template: minmax(66px, auto) / repeat(2, 1fr);
            column-gap: 30px
        }
    }
    .feeding {
        &__tabheader {
            &-items {
                grid-template-columns: repeat(2, 1fr);
                column-gap: unset;
                border-bottom: 1px solid rgba(67, 66, 66, .2);
            }
            &-item {
                text-align: center;
            }
        }
        &__wrap {
            grid-template-columns: 440px;
            column-gap: unset;
            justify-content: center;
        }
        &__tabcontent {
            margin-top: 43px;
            &-list {
                &_item,
                &_title {
                    text-align: center;
                }
            }
        }
        &_none {
            display: none;
        }
    }
    .tabheader {
        &__item {
            &_active {
                color: $main-color;
                border-bottom: 2px solid $main-color;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .header {
        &__scroll {
            .header__logo svg {
                width: 52px;
                height: 52px;
            }
        }
    }
    .promo {
        &__biglogo {
            top: unset;
            bottom: 7px;
            svg {
                width: auto;
                height: 80vh;
            }
        }
        &__title {
            &:after {
                top: 41px;
                right: 209px;
                width: 205px;
                height: auto;
            }
        }
    }
    .about {
        &__wrapp {
            column-gap: 30px;
        }
        &__consist {
            &-list {
                width: 100%;
            }
        }
    }
    .sets {
        padding: 83px 60px 102px 60px;
        &__wrapp {
            grid-template: minmax(552px, auto)/588px 282px;
        }
    }
    .feeding {
        padding: 60px 0 31px 0;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .title,
    .title span {
        font-size: 46px;
    }
    .header {
        &__scroll {
            .header__logo svg {
                width: 48px;
                height: 48
            }
        }
        &__logo {
            svg {
                width: 60px;
                height: 60px;
            }
        }
        &__wrapp {
            width: 80%;
        }
        &__menu {
            width: 100%;
        }
        &__link {
            font-size: 14px;
        }
    }
    .promo {
        &__mix {
            &:before {
                top: -94px;
                width: 205px;
            }
        }
        &__subtitle {
            margin-top: 24px;
            width: 305px;
            font-size: 18px;
        }
        &__btn {
            margin-top: 48px;
        }
    }
    .about {
        &__wrapp {
            padding-top: 80px;
            row-gap: 60px;
        }
    }
    .sets {
        margin-top: 80px;
        padding: 56px 0 32px 0;
        &__wrapp {
            grid-template: minmax(552px, auto) / 345px 282px;
        }
        &__descr {
            &_mix {
                &:before {
                    top: -67px;
                    left: -12px;
                    width: 164px;
                }
            }
        }
        .slick {
            &-slide {
                opacity: .3;
            }
            &-active {
                opacity: 1;
            }
        }
    }
    .ration {
        margin-top: 80px;
        &__descr {
            grid-template: repeat(2, minmax(66px, auto)) / 530px;
            column-gap: unset;
            row-gap: 16px;
        }
    }
    .feeding {
        margin-top: 80px;
        padding: 44px 0 24px 0;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .title {
        &_fz46,
        &_fz46 span {
            font-size: 40px;
        }
    }
    .header {
        &__scroll {
            .header__logo svg {
                width: 38px;
                height: 38px;
            }
        }
        transition: all .5s;
        .hamburger {
            width: 27px;
            height: 22px;
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            span {
                display: block;
                width: 27px;
                height: 2px;
                background-color: #fff;
                transition: all .5s;
                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }
        &__wrapp {
            position: fixed;
            height: calc(100vh - 75px);
            padding-bottom: 62px;
            background-color: #fff;
            transition: 0.6s all;
            top: 75px;
            left: -100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        &__menu {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: calc(100vh - 192px);
            background-color: #fff;
        }
        &__link {
            color: $text-color;
            font-weight: 600;
            font-size: 24px;
        }
        &__btn {
            display: block;
            margin-top: 102px;
            width: 100%;
            text-align: center;
        }
        &_active {
            background-color: #fff;
            .hamburger {
                top: calc(50% + 12px);
                span {
                    margin-bottom: -2px;
                    background-color: #000;
                    &:nth-child(1) {
                        transform: translateY(-4px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(-12px) rotate(45deg);
                    }
                }
            }
            .header__wrapp {
                left: 0;
            }
            .header__menu_link {
                color: #000;
                font-weight: 600;
                font-size: 24px;
            }
        }
        &__scroll {
            .hamburger_scroll span {
                background-color: #000;
            }
        }
    }
    .header_active {
        .header__logo svg {
            width: 60px;
            height: 60px;
        }
    }
    .about {
        &__descr {
            &-text {
                margin-top: 24px;
            }
        }
        &__wrapp {
            grid-template: repeat(3, minmax(288px, auto)) / minmax(300px, auto);
            row-gap: 0;
        }
        &__img {
            margin-top: 40px;
        }
        &__consist {
            grid-column: unset;
            &-list {
                column-count: 1;
            }
        }
    }
    .sets {
        padding-left: 0;
        padding-right: 0;
        &__descr {
            grid-template: repeat(2, minmax(66px, auto)) / 320px;
            &_mix {
                &:before {
                    top: -58px;
                    left: -7px;
                    width: 137px;
                }
            }
        }
        &__text {
            width: 326px;
            font-size: 14px;
        }
        &__wrapp {
            grid-template: minmax(552px, auto) minmax(250px, auto) / minmax(326px, auto);
            column-gap: unset;
            row-gap: 57px;
        }
        &__counter {
            padding: 35px 25px 32px 25px;
            &-descr {
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                letter-spacing: 0.02em;
            }
            &-button {
                margin-top: 24px;
                &:before {
                    display: none;
                }
            }
            &:after {
                display: none;
            }
        }
    }
    .ration {
        &__mix {
            &:before {
                top: -97px;
                right: -24px;
                width: 186px;
            }
        }
        .slick {
            &-slide {
                opacity: .3;
            }
            &-active {
                opacity: 1;
            }
        }
    }
    .feeding {
        &__title {
            font-family: 'Oswald';
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            letter-spacing: 0.02em;
            color: #000000;
            border-bottom: none;
        }
        &__tabheader {
            &-item {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.02em;
                text-transform: unset;
                padding-bottom: 5px;
                &_subtitle {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 24px;
    }
    .title,
    .title span {
        font-size: 44px;
    }
    .promo {
        &__subtitle {
            width: 227px;
        }
        &__btn {
            z-index: 1;
        }
        &__biglogo {
            z-index: -1;
            svg {
                height: 57vh;
            }
        }
    }
    .about__consist-slide {
        margin: 0 41px;
    }
    .ration {
        &__descr {
            grid-template: repeat(2, minmax(66px, auto)) / 1fr;
        }
        &__title,
        &__title span {
            font-size: 30px;
        }
        &__mix {
            &:before {
                top: -73px;
                right: -13px;
                width: 135px;
            }
        }
        &__slider {
            margin-top: 32px;
        }
    }
    .feeding {
        &__wrap {
            grid-template-columns: 1fr;
        }
        &__footnote {
            margin-top: 32px;
        }
    }
}