@media (max-width: 1440px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .promo {
        &__biglogo {
            top: unset;
            bottom: 7px;
            svg {
                width: auto;
                height: 80vh;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .title {
        font-size: 46px;
    }
    .header {
        &__logo {
            svg {
                width: 60px;
                height: auto;
            }
        }
        &__wrapp {
            width: 80px;
        }
        &__menu {
            width: 100%;
        }
        &__link {
            font-size: 14px;
        }
    }
    .promo {
        &__subtitle {
            margin-top: 24px;
            width: 305px;
            font-size: 18px;
        }
        &__btn {
            margin-top: 48px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .header {
        transition: all .5s;
        .hamburger {
            width: 27px;
            height: auto;
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            span {
                display: block;
                width: 27px;
                height: 2px;
                background-color: #fff;
                transition: all .5s;
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
        &__wrapp {
            position: fixed;
            height: calc(100vh - 92px);
            padding-bottom: 62px;
            background-color: #fff;
            transition: 0.6s all;
            top: 92px;
            left: -100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        &__menu {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: calc(100vh - 192px);
            background-color: #fff;
        }
        &__link {
            color: $text-color;
            font-weight: 600;
            font-size: 24px;
        }
        &__btn {
            display: block;
            margin-top: 102px;
            width: 100%;
            text-align: center;
        }
        &_active {
            background-color: #fff;
            .hamburger {
                span {
                    margin-bottom: -2px;
                    background-color: #000;
                    &:nth-child(1) {
                        transform: translateY(-3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(-12px) rotate(45deg);
                    }
                }
            }
            .header__wrapp {
                left: 0;
            }
            .header__menu_link {
                color: #000;
                font-weight: 600;
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 24px;
    }
    .title {
        font-size: 44px;
    }
    .promo {
        &__subtitle {
            width: 227px;
        }
        &__btn {
            z-index: 1;
        }
        &__biglogo {
            z-index: -1;
            svg {
                height: 57vh;
            }
        }
    }
}