@media (max-width: 1440px) {
    .container {
        width: 1200px;
    }
    .about {
        &__img {
            width: 100%;
            height: auto;
        }
        &__consist {
            &-item {
                font-size: 16px;
            }
            &-slide {
                margin: 0 60px;
            }
            &-list {
                width: 400px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .header {
        &__scroll {
            .header__logo svg {
                width: 52px;
                height: 52px;
            }
        }
    }
    .promo {
        &__biglogo {
            top: unset;
            bottom: 7px;
            svg {
                width: auto;
                height: 80vh;
            }
        }
        &__title {
            &:after {
                top: 41px;
                right: 209px;
                width: 205px;
                height: auto;
            }
        }
    }
    .about {
        &__wrapp {
            column-gap: 30px;
        }
        &__consist {
            &-list {
                width: 100%;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .title {
        font-size: 46px;
    }
    .header {
        &__scroll {
            .header__logo svg {
                width: 48px;
                height: 48
            }
        }
        &__logo {
            svg {
                width: 60px;
                height: 60px;
            }
        }
        &__wrapp {
            width: 80%;
        }
        &__menu {
            width: 100%;
        }
        &__link {
            font-size: 14px;
        }
    }
    .promo {
        &__subtitle {
            margin-top: 24px;
            width: 305px;
            font-size: 18px;
        }
        &__btn {
            margin-top: 48px;
        }
    }
    .about {
        &__wrapp {
            padding-top: 80px;
            row-gap: 60px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .title {
        &_fz46 {
            font-size: 40px;
        }
    }
    .header {
        &__scroll {
            .header__logo svg {
                width: 38px;
                height: 38px;
            }
        }
        transition: all .5s;
        .hamburger {
            width: 27px;
            height: 22px;
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            span {
                display: block;
                width: 27px;
                height: 2px;
                background-color: #fff;
                transition: all .5s;
                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }
        &__wrapp {
            position: fixed;
            height: calc(100vh - 75px);
            padding-bottom: 62px;
            background-color: #fff;
            transition: 0.6s all;
            top: 75px;
            left: -100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        &__menu {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: calc(100vh - 192px);
            background-color: #fff;
        }
        &__link {
            color: $text-color;
            font-weight: 600;
            font-size: 24px;
        }
        &__btn {
            display: block;
            margin-top: 102px;
            width: 100%;
            text-align: center;
        }
        &_active {
            background-color: #fff;
            .hamburger {
                top: calc(50% + 12px);
                span {
                    margin-bottom: -2px;
                    background-color: #000;
                    &:nth-child(1) {
                        transform: translateY(-4px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(-12px) rotate(45deg);
                    }
                }
            }
            .header__wrapp {
                left: 0;
            }
            .header__menu_link {
                color: #000;
                font-weight: 600;
                font-size: 24px;
            }
        }
        &__scroll {
            .hamburger_scroll span {
                background-color: #000;
            }
        }
    }
    .header_active {
        .header__logo svg {
            width: 60px;
            height: 60px;
        }
    }
    .about {
        &__descr {
            &-text {
                margin-top: 24px;
            }
        }
        &__wrapp {
            grid-template: repeat(3, minmax(288px, auto)) / minmax(300px, auto);
            row-gap: 0;
        }
        &__img {
            margin-top: 40px;
        }
        &__consist {
            grid-column: unset;
            &-list {
                column-count: 1;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 24px;
    }
    .title {
        font-size: 44px;
    }
    .promo {
        &__subtitle {
            width: 227px;
        }
        &__btn {
            z-index: 1;
        }
        &__biglogo {
            z-index: -1;
            svg {
                height: 57vh;
            }
        }
    }
    .about__consist-slide {
        margin: 0 41px;
    }
}