.resume {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        padding: 60px 65px 0 65px;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color1;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: relative;
                    width: 1px;
                    height: calc(100% + 27px);
                    position: absolute;
                    top: -27px;
                    left: 7px;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 33px;
            top: 65px;
            left: 7px;
            position: absolute;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
        }
        h4 {
            margin-bottom: 0;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 40px;
            left: 40px;
            padding-top: 24px;
            width: 65px;
            height: 50px;
            @include before-circle;
            img {
                width: 100%;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
    }
}