.svg-about--dog-dims {
	width: 183px;
	height: 183px;
}

.svg-about--heart-dims {
	width: 120px;
	height: 119px;
}

.svg-about--mask-dims {
	width: 676px;
	height: 905px;
}

.svg-advantage--heartbeat-dims {
	width: 40px;
	height: 40px;
}

.svg-advantage--leaf-dims {
	width: 40px;
	height: 40px;
}

.svg-advantage--paw-print-dims {
	width: 40px;
	height: 40px;
}

.svg-advantage--rocket-dims {
	width: 40px;
	height: 40px;
}

.svg-advantage--smiley-dims {
	width: 40px;
	height: 40px;
}

.svg-decor-dims {
	width: 28px;
	height: 34px;
}

.svg-ellipse-dims {
	width: 182px;
	height: 80px;
}

.svg-footer--apple-dims {
	width: 104px;
	height: 103px;
}

.svg-footer--dog-dims {
	width: 112px;
	height: 111px;
}

.svg-footer--ham-dims {
	width: 173px;
	height: 174px;
}

.svg-footer--left-line-dims {
	width: 150px;
	height: 454px;
}

.svg-footer--right-line-dims {
	width: 234px;
	height: 290px;
}

.svg-footer--telegram-dims {
	width: 24px;
	height: 24px;
}

.svg-footer--whatsapp-dims {
	width: 24px;
	height: 24px;
}

.svg-logo--ZOOOV-dims {
	width: 147px;
	height: 548px;
}

.svg-logo--logo-dims {
	width: 80px;
	height: 80px;
}

.svg-order--stap1-dims {
	width: 31px;
	height: 36px;
}

.svg-order--stap2-dims {
	width: 40px;
	height: 40px;
}

.svg-order--stap3-dims {
	width: 40px;
	height: 40px;
}

.svg-order--stap4-dims {
	width: 40px;
	height: 40px;
}

.svg-promo--bones-dims {
	width: 20px;
	height: 20px;
}

.svg-promo--fruits-dims {
	width: 20px;
	height: 18px;
}

.svg-promo--liver-dims {
	width: 20px;
	height: 15px;
}

.svg-promo--meat-dims {
	width: 20px;
	height: 14px;
}

.svg-promo--nuts-dims {
	width: 20px;
	height: 21px;
}

.svg-promo--offal-dims {
	width: 20px;
	height: 19px;
}

.svg-promo--veggies-dims {
	width: 20px;
	height: 20px;
}

