.title,
.title span {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    z-index: 1;
    &_fz46 {
        font-size: 46px;
    }
    &_fz16 {
        font-weight: 700;
        font-size: 16px;
        color: #000;
    }
}

.subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}